/* Stiziles */
body {
	padding: 15px 30px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	float: left;
	width: 12%;
	min-width: 5em;
}

#app_backdrop {
	transition: background-color 0.5s ease-in;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: -1;
}

.Inventory,
.Place {
	position: absolute;
}

.Inventory {
	right: 0;
	bottom: 0;

	text-align: right;
}

.Place {
	margin-top: 3em;
}

.example-enter {
	opacity: 0.01;
	transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
	opacity: 1;
}

.example-leave {
	opacity: 1;
	transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
	opacity: 0.01;
}

